{{define "theme-default/home"}}
{{template "theme-default/header" .}}
{{if ts .CustomCode}} {{.CustomCode|safe}} {{end}}
{{template "theme-default/menu" .}}

<div class="nb-container">
    <div class="ui container" style="padding-bottom: 30px;">
        <div class="tabs-wrapper">
            <div v-if="servers && servers.length > 0" 
                 class="custom-tabs-container" 
                 ref="tabsContainer">
                <div class="tabs-content-area">
                    <div class="custom-tab"
                        :class="{ active: activeTag === '' }"
                        @click="handleTabClick('', $event)"
                        ref="allTab"> {{tr "All"}}
                    </div>
                    <div v-for="(tag, index) in uniqueTags.slice().reverse()"
                        :key="tag"
                        class="custom-tab"
                        :class="{ active: activeTag === tag }"
                        @click="handleTabClick(tag, $event)"
                        :ref="'tagTab' + index"> @#tag#@
                    </div>
                </div>
                <div class="tab-slider" ref="tabSlider"></div>
            </div>
        </div>

        <template v-if="filteredServers && filteredServers.length > 0">
            <div class="ui four stackable status cards">
                <div v-for="server in filteredServers" :key="server.ID" :id="server.ID" class="ui card">
                    <div class="content" v-if="server.Host" style="padding-bottom: 5px">
                        <div class="header">
                            <i :class="'flag-icon flag-icon-'+server.Host.CountryCode"></i>
                            <i v-if='isWindowsPlatform(server.Host.Platform)' class="windows icon"></i>
                            <i v-else-if='getFontLogoClass(server.Host.Platform) == "" && server.State.Uptime > 0' class="fl-tux"></i>
                            <i v-else :class="'fl-' + getFontLogoClass(server.Host.Platform)"></i>
                            @#server.Name + (server.live?'':' [{{tr "Offline"}}]')#@
                            <i class="server-primary-font info circle icon" style="height: 28px" ></i>
                            <div class="ui content popup">
                                {{tr "Platform"}}：@#specialOS(server.Host.Platform)#@ <span
                                    v-if='!isWindowsPlatform(server.Host.Platform)'>@#formatPlatformVersion(server.Host.PlatformVersion)#@
                                </span> @#specialVir(server.Host.Virtualization)#@
                                [@#server.Host.Arch#@]<br />
                                {{tr "MemUsed"}}：@#formatByteSize(server.State.MemUsed)#@ /
                                @#formatByteSize(server.Host.MemTotal)#@<br />
                                {{tr "SwapUsed"}}：@#formatByteSize(server.State.SwapUsed)#@ /
                                        @#formatByteSize(server.Host.SwapTotal)#@<br />
                                {{tr "DiskUsed"}}：@#formatByteSize(server.State.DiskUsed)#@ /
                                @#formatByteSize(server.Host.DiskTotal)#@<br />
                                
                                {{tr "TrafficTotal"}}：@#getTrafficTooltip(server.ID)#@<br />

                                {{tr "Load"}}：@#toFixed2(server.State.Load1)#@ | @#toFixed2(server.State.Load5)#@ | @#toFixed2(server.State.Load15)#@<br />
                                {{tr "ConnCount"}}：TCP @#server.State.TcpConnCount#@ {{tr "Count"}} | UDP @#server.State.UdpConnCount#@ {{tr "Count"}}
                                <br />
                                {{tr "BootTime"}}：@#timeStamp(server.Host.BootTime * 1000)#@<br />
                                {{tr "LastActive"}}：@#timeStamp(server.LastActive)#@<br />
                                {{tr "Version"}}：@#server.Host.Version#@<br />
                            </div>
                            <div class="ui divider"
                                style="margin: .5rem 0 !important; border-bottom: 1px solid rgba(34,36,38,.15) !important;"></div>
                        </div>
                        
                        <div class="header header_info">
                            <i class="fa-solid fa-microchip"></i>
                            <div class="cpuroll" style="white-space: nowrap;overflow: hidden;">
                                <div class="cpucontent rollanimation">
                                    @#clearString(server.Host.CPU).join(" ")#@ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="cpucontent rollanimation">
                                    @#clearString(server.Host.CPU).join(" ")#@ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <i class="fa-solid fa-memory"></i>
                                @#getK2Gb(server.Host.MemTotal)#@
                                <span>&nbsp;&nbsp;</span>
                                <i class="fa-solid fa-hard-drive"></i>
                                @#getK2Gb(server.Host.DiskTotal)#@
                            </div>
                        </div>
                        
                        <div class="description">
                            <div class="ui grid">
                                <div class="three wide column">CPU</div>
                                <div class="thirteen wide column">
                                    <div :class="formatPercent(server.live,server.State.CPU, 100).class">
                                        <div class="bar"
                                            :style="formatPercent(server.live,server.State.CPU, 100).style">
                                            <small>@#formatPercent(server.live,server.State.CPU,100).percent#@%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="three wide column">{{tr "MemUsed"}}</div>
                                <div class="thirteen wide column">
                                    <div
                                        :class="formatPercent(server.live,server.State.MemUsed, server.Host.MemTotal).class">
                                        <div class="bar"
                                            :style="formatPercent(server.live,server.State.MemUsed, server.Host.MemTotal).style">
                                            <small>@#parseInt(server.State&&server.Host.MemTotal?server.State.MemUsed/server.Host.MemTotal*100:0)#@%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="three wide column">{{tr "DiskUsed"}}</div>
                                <div class="thirteen wide column">
                                    <div
                                        :class="formatPercent(server.live,server.State.DiskUsed, server.Host.DiskTotal).class">
                                        <div class="bar"
                                            :style="formatPercent(server.live,server.State.DiskUsed, server.Host.DiskTotal).style">
                                            <small>@#parseInt(server.State&&server.Host.DiskTotal?server.State.DiskUsed/server.Host.DiskTotal*100:0)#@%</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="three wide column">{{tr "TrafficTotal"}}</div>
                                <div class="thirteen wide column">
                                    <div :class="getTrafficProgressClass(server.ID)">
                                        <div class="bar" :style="getTrafficProgressStyle(server.ID)">
                                            <small>@# getTrafficDisplay(server.ID) #@</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="three wide column">{{tr "NetSpeed"}}</div>
                                <div class="thirteen wide column">
                                    <i class="fa-regular fa-down"></i>
                                    @#formatByteSize(server.State.NetInSpeed)#@/s |
                                    <i class="fa-regular fa-up"></i>
                                    @#formatByteSize(server.State.NetOutSpeed)#@/s
                                </div>
                                <div class="three wide column">{{tr "NetTransfer"}}</div>
                                <div class="thirteen wide column">
                                    <i class="fa-solid fa-down"></i>
                                    @#formatByteSize(server.State.NetInTransfer)#@ |
                                    <i class="fa-solid fa-up"></i>
                                    @#formatByteSize(server.State.NetOutTransfer)#@
                                </div>
                                 <div class="three wide column">{{tr "ProcessCount"}}</div>
                                <div class="thirteen wide column">
                                    <i class="fa-regular fa-bars-progress"></i> 
                                    @# server.State.ProcessCount #@ {{tr "Count"}}
                                </div>
                                <div class="three wide column">{{tr "Uptime"}}</div>
                                <div class="thirteen wide column">
                                    <i class="clock icon"></i>@#secondToDate(server.State.Uptime)#@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content" v-else> <p>@#server.Name#@</p>
                        <p><i class="fas fa-circle-notch fa-spin"></i> {{tr "Connecting"}}...</p>
                    </div>
                </div>
            </div>
        </template>
        <template v-else-if="servers && servers.length > 0 && filteredServers.length === 0 && activeTag !== ''">
             <div class="ui message info">
                <div class="header">
                    {{tr "NoServersForTagH"}} "@#activeTag#@"
                </div>
                <p>{{tr "NoServersForTagP"}}</p>
            </div>
        </template>
        <template v-else>
            <div class="ui message info">
                <div class="header">
                    {{tr "NoServers"}}
                </div>
                <p>{{tr "NoServersDesc"}}</p>
            </div>
        </template>

        <!-- 隐藏的数据区域，用于流量统计 -->
        <div style="display: none;" id="hiddenTrafficData">
            {{if .CycleTransferStats}}
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th class="ui center aligned">ID</th>
                        <th class="ui center aligned">{{tr "Rules"}}</th>
                        <th class="ui center aligned">{{tr "Server"}}</th>
                        <th class="ui center aligned">{{tr "From"}}</th>
                        <th class="ui center aligned">{{tr "To"}}</th>
                        <th class="ui center aligned">{{tr "NextCheck"}}</th>
                        <th class="ui center aligned">{{tr "TrafficTotal"}}</th>
                        <th class="ui center aligned">{{tr "CurrentUsage"}}</th>
                        <th class='ui center aligned'>{{tr "Transleft"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $id, $stats := .CycleTransferStats}}
                    {{range $innerId, $transfer := $stats.Transfer}}
                    {{$TransLeftPercent := TransLeftPercent (UintToFloat $transfer) (UintToFloat $stats.Max)}}
                    <tr>
                        <td class="ui center aligned">{{$id}}</td>
                        <td class="ui center aligned">{{$stats.Name}}</td>
                        <td class="ui center aligned">{{index $stats.ServerName $innerId}}</td>
                        <td class="ui center aligned">{{$stats.From|tf}}</td>
                        <td class="ui center aligned">{{$stats.To|tf}}</td>
                        <td class="ui center aligned">{{(index $stats.NextUpdate $innerId)|sft}}</td>
                        <td class="ui center aligned">{{$stats.Max|bf}}</td>
                        <td class="ui center aligned">{{$transfer|bf}}</td>
                        <td class="ui center aligned">{{TransLeft $stats.Max $transfer}} | {{$TransLeftPercent}}%</td>
                    </tr>
                    {{end}}
                    {{end}}
                </tbody>
            </table>
            {{end}}
        </div>

        <!-- 添加页脚上方的间距 -->
        <div style="margin-bottom: 30px;"></div>

        {{template "theme-default/footer" .}}
    </div>
</div>

{{template "theme-default/footer" .}}
<script>
    // Initialize global variable for traffic data and tracking
    window.serverTrafficData = {};
    window.lastTrafficUpdateTime = 0;
    
    // Function to extract traffic data from accordion section
    function extractTrafficData() {
        try {
            // 现在从隐藏的数据区域获取流量表格数据
            const trafficRows = document.querySelectorAll('#hiddenTrafficData table tbody tr');
            if (!trafficRows || trafficRows.length === 0) {
                return;
            }
            
            const newTrafficData = {};
            
            // 处理每一行
            trafficRows.forEach(row => {
                const cells = row.querySelectorAll('td');
                if (cells.length >= 9) {
                    const rawServerId = cells[0].innerText.trim();
                    const serverName = cells[2].innerText.trim();
                    
                    let matchingServer = null;
                    if (statusCards && statusCards.servers) {
                        matchingServer = statusCards.servers.find(s => s.Name === serverName);
                    }
                    
                    const serverId = matchingServer ? matchingServer.ID : rawServerId;
                    
                    // 解析最大流量和已使用流量
                    const maxTrafficText = cells[6].innerText.trim();
                    const usedTrafficText = cells[7].innerText.trim();
                    
                    // 规范化单位格式
                    const standardMaxTraffic = formatTrafficUnit(maxTrafficText);
                    const standardUsedTraffic = formatTrafficUnit(usedTrafficText);
                    
                    // 将流量数据转换为字节数进行准确计算
                    const maxTrafficBytes = parseTrafficToBytes(maxTrafficText);
                    const usedTrafficBytes = parseTrafficToBytes(usedTrafficText);
                    
                    // 获取表格中显示的原始百分比
                    let originalPercent = 0;
                    const percentText = cells[8].innerText.trim();
                    const percentMatch = percentText.match(/(\d+)%/);
                    if (percentMatch) {
                        originalPercent = parseInt(percentMatch[1]);
                    }
                    
                    // 计算实际百分比
                    let calculatedPercent = 0;
                    if (maxTrafficBytes > 0) {
                        calculatedPercent = Math.round((usedTrafficBytes / maxTrafficBytes) * 100);
                        if (calculatedPercent > 100) calculatedPercent = 100; // 防止超过100%
                    }
                    
                    newTrafficData[serverId] = {
                        max: standardMaxTraffic,
                        used: standardUsedTraffic,
                        percent: calculatedPercent,
                        maxBytes: maxTrafficBytes,
                        usedBytes: usedTrafficBytes,
                        originalPercent: originalPercent
                    };
                    
                    if (serverId !== rawServerId) {
                        newTrafficData[rawServerId] = {
                            max: standardMaxTraffic,
                            used: standardUsedTraffic,
                            percent: calculatedPercent,
                            maxBytes: maxTrafficBytes,
                            usedBytes: usedTrafficBytes,
                            originalPercent: originalPercent
                        };
                    }
                }
            });
            
            window.serverTrafficData = newTrafficData;
            window.lastTrafficUpdateTime = Date.now();
            
            if (statusCards && typeof statusCards.updateTrafficData === 'function') {
                statusCards.updateTrafficData();
            }
        } catch (e) {
            console.error('Error extracting traffic data:', e);
        }
    }
    
    // 添加流量单位转换为字节的辅助函数
    function parseTrafficToBytes(trafficStr) {
        if (!trafficStr) return 0;
        
        // 去掉所有空格并转换为大写以便统一处理
        const cleanStr = trafficStr.replace(/\s+/g, '').toUpperCase();
        
        // 匹配标准格式 数字+单位
        let match = cleanStr.match(/^([\d.,]+)([KMGTPEZY]?B)$/i);
        
        // 如果没找到匹配，尝试匹配省略B的格式
        if (!match) {
            match = cleanStr.match(/^([\d.,]+)([KMGTPEZY])$/i);
            if (match) {
                match[2] = match[2] + 'B'; // 添加缺失的B单位
            }
        }
        
        // 如果还是没找到匹配，直接返回0
        if (!match) {
            console.warn('无法解析流量字符串:', trafficStr);
            return 0;
        }
        
        // 处理可能包含的千位分隔符
        const value = parseFloat(match[1].replace(/,/g, ''));
        const unit = match[2].toUpperCase();
        
        // 单位转换为字节数
        const units = {
            'B': 1,
            'KB': 1024,
            'MB': 1024 * 1024,
            'GB': 1024 * 1024 * 1024,
            'TB': 1024 * 1024 * 1024 * 1024,
            'PB': 1024 * 1024 * 1024 * 1024 * 1024,
            'EB': 1024 * 1024 * 1024 * 1024 * 1024 * 1024,
            'ZB': 1024 * 1024 * 1024 * 1024 * 1024 * 1024 * 1024,
            'YB': 1024 * 1024 * 1024 * 1024 * 1024 * 1024 * 1024 * 1024
        };
        
        return value * (units[unit] || 1);
    }
    
    // Call extraction when page loads and whenever accordion opens
    $(document).ready(function() {
        // 立即提取数据
        setTimeout(extractTrafficData, 500);
        
        // 设置定时器定期更新数据
        setInterval(function() {
            extractTrafficData();
        }, 30000); // 每30秒更新一次
    });
    
    function specialOS(i) {
        // 处理Windows平台
        if (i && i.toString().toLowerCase().includes('windows')) {
            return i.replace("Microsoft ", "").replace("Datacenter", "").replace("Service Pack 1", "");
        }
        
        // 确保i是字符串并转为小写
        i = (i || "").toString().toLowerCase();
        
        // 使用对象映射代替switch语句
        const osMapping = {
            "ubuntu": "Ubuntu",
            "debian": "Debian",
            "centos": "CentOS",
            "darwin": "MacOS",
            "redhat": "RedHat",
            "archlinux": "Archlinux",
            "coreos": "Coreos",
            "deepin": "Deepin",
            "fedora": "Fedora",
            "alpine": "Alpine",
            "tux": "Tux",
            "linuxmint": "LinuxMint",
            "oracle": "Oracle",
            "slackware": "SlackWare",
            "raspbian": "Raspbian",
            "gentoo": "GenToo",
            "arch": "Arch",
            "amazon": "Amazon",
            "xenserver": "XenServer",
            "scientific": "ScientificSL",
            "rhel": "Rhel",
            "rawhide": "RawHide",
            "cloudlinux": "CloudLinux",
            "ibm_powerkvm": "IBM",
            "almalinux": "Almalinux",
            "suse": "Suse",
            "opensuse": "OpenSuse",
            "opensuse-leap": "OpenSuse",
            "opensuse-tumbleweed": "OpenSuse",
            "opensuse-tumbleweed-kubic": "OpenSuse",
            "sles": "Sles",
            "sled": "Sled",
            "caasp": "Caasp",
            "exherbo": "ExherBo",
            "solus": "Solus"
        };
        
        // 如果在映射中找到匹配项，返回对应的值，否则返回原始输入
        return osMapping[i] || i;
    }
    
    function specialVir(i) {
        // 确保i是字符串并转为小写
        i = (i || "").toString().toLowerCase();
        
        // 使用对象映射代替switch语句
        const virMapping = {
            "kvm": "KVM",
            "openvz": "OpenVZ",
            "lxc": "LXC",
            "xen": "Xen",
            "vbox": "vBox",
            "rkt": "RKT",
            "docker": "Docker",
            "vmware": "VMware",
            "linux-vserver": "VServer",
            "hyperv": "Hyperv"
        };
        
        // 如果在映射中找到匹配项，返回对应的值，否则返回原始输入
        return virMapping[i] || i;
    }
    function clearString(i) {
        if (i != null && i != "") {
            i = Array.isArray(i) ? i.map(s => s.toString().replace(/(\r|\n|\"|\]|\[)/ig, "").replace(/(\\)/ig, "")) : [i.toString().replace(/(\r|\n|\"|\]|\[)/ig, "").replace(/(\\)/ig, "")];
            return i;
        }
        return Array.isArray(i) ? i : [i];
    }
    Date.prototype.format = function (format) {
        var date = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "H+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S+": this.getMilliseconds()
        };
        if (/(y+)/i.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        for (var k in date) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1
                    ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
            }
        }
        return format;
    };

    var statusCards = new Vue({
        el: '#app',
        delimiters: ['@#', '#@'],
        data: {
            page: 'index',
            defaultTemplate: {{.Conf.Site.Theme }},
            templates: {{.Themes }},
            servers: [],
            cache: [],
            chartDataList: [],
            activePopup: null,
            trafficData: {}, // Add local copy for Vue reactivity
            sensorList: [
                'TC0D', //CPU Die 温度，代表 CPU 内部的温度
                'TC0H', //CPU Heatsink 温度，代表 CPU 散热器的温度
                'TC0P', //CPU Proximity 温度，代表 CPU 附近的温度
                'k10temp', //AMD K10（Phenom、Athlon、Sempron 等）系列处理器的温度监测
                'k10temp_tctl', //AMD K10 (Athlon II、Phenom II 等）系列处理器的温度监测
                'coretemp_package_id_0', //整个封装处理器温度
                'cpu_thermal_zone', //全志
                'cpu-thermal', //树莓派(博通)
                'soc_thermal', //新瑞芯微
                'cpu_thermal', //老瑞芯微
                'ACPI\\ThermalZone\\TZ0__0', //Windows
                'ACPI\\ThermalZone\\CPUZ_0', //Windows
                'ACPI\\ThermalZone\\TZ00_0', //Windows
                'ACPI\\ThermalZone\\TZ001_0', //Windows
                'ACPI\\ThermalZone\\THM0_0' //Windows
            ],
            activeTag: '',
            uniqueTags: [],
            _lastKnownUpdateTime: 0
        },
        mixins: [mixinsVue],
        created() {
            this.servers = JSON.parse('{{.Servers}}').servers;
            this.generateUniqueTags();
            this.updateServerLiveStatus();
            this.initTrafficDataWatcher();
            
            // 立即尝试提取流量数据 - 无需使用折叠面板
            setTimeout(() => {
                extractTrafficData();
            }, 500);
        },
        mounted() {
            this.$nextTick(() => {
                this.initializePopups();
                this.updateSliderPosition(); // Initial position for slider
                
                // 确保折叠面板中的数据可用
                $('.ui.accordion').accordion();
            });
        },
        computed: {
            filteredServers() {
                const displayableServers = this.servers.filter(server => server.Host);
                if (this.activeTag === '') {
                    return displayableServers;
                }
                return displayableServers.filter(server => server.Tag === this.activeTag);
            }
        },
        methods: {
            checkIsMobile() {
                return window.innerWidth < 768;
            },
            getServerTrafficData(serverId) {
                try {
                    // Try local cache first for reactivity
                    if (this.trafficData) {
                        const serverIdStr = String(serverId).trim();
                        
                        if (this.trafficData[serverIdStr]) {
                            return this.trafficData[serverIdStr];
                        }
                        
                        // Try numeric match
                        const keys = Object.keys(this.trafficData);
                        for (const key of keys) {
                            if (parseInt(key) === parseInt(serverIdStr)) {
                                return this.trafficData[key]; 
                            }
                        }
                    }
                    
                    // Fall back to global variable
                    if (!window.serverTrafficData || Object.keys(window.serverTrafficData).length === 0) {
                        // Try to get data if not already loaded
                        setTimeout(extractTrafficData, 100);
                        return null;
                    }
                    
                    // Ensure serverId is treated as string for comparison
                    const serverIdStr = String(serverId).trim();
                    
                    // Check direct match first
                    if (window.serverTrafficData && window.serverTrafficData[serverIdStr]) {
                        return window.serverTrafficData[serverIdStr];
                    }
                    
                    // Try to find by numeric value if direct match fails
                    const keys = Object.keys(window.serverTrafficData || {});
                    for (const key of keys) {
                        if (parseInt(key) === parseInt(serverIdStr)) {
                            return window.serverTrafficData[key];
                        }
                    }
                    
                    return null;
                } catch (e) {
                    return null;
                }
            },
            formatPlatformVersion(version) {
                if (!version) return '';
                if (/^[\d.]+$/.test(version)) {
                    return version;
                }
                let cleanVersion = version.split('/')[0];
                return cleanVersion.split(' ').map(word => {
                    if (word.length > 0) {
                        return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                    }
                    return word;
                }).join(' ');
            },
            toFixed2(f) {
                return f.toFixed(2)
            },
            isWindowsPlatform(str) {
                return str.includes('indows')
            },
            getFontLogoClass(str) {
                if (["almalinux",
                    "alpine",
                    "aosc",
                    "apple",
                    "archlinux",
                    "archlabs",
                    "artix",
                    "budgie",
                    "centos",
                    "coreos",
                    "debian",
                    "deepin",
                    "devuan",
                    "docker",
                    "elementary",
                    "fedora",
                    "ferris",
                    "flathub",
                    "freebsd",
                    "gentoo",
                    "gnu-guix",
                    "illumos",
                    "kali-linux",
                    "linuxmint",
                    "mageia",
                    "mandriva",
                    "manjaro",
                    "nixos",
                    "openbsd",
                    "opensuse",
                    "pop-os",
                    "raspberry-pi",
                    "redhat",
                    "rocky-linux",
                    "sabayon",
                    "slackware",
                    "snappy",
                    "solus",
                    "tux",
                    "ubuntu",
                    "void",
                    "zorin"].indexOf(str)
                    > -1) {
                    return str;
                }
                if (str == 'darwin') {
                    return 'apple';
                }
                if (['openwrt', 'linux'].indexOf(str) > -1) {
                    return 'tux';
                }
                if (str == 'amazon') {
                    return 'redhat';
                }
                if (str == 'arch') {
                    return 'archlinux';
                }
                if (str.toLowerCase().includes('opensuse')) {
                    return 'opensuse';
                }
                return '';
            },
            formatPercent(live, used, total) {
                let u = parseFloat(used);
                let t = parseFloat(total);

                if (isNaN(u) || isNaN(t)) {
                    live = false;
                }

                let percent;
                if (live && t > 0) {
                    percent = parseInt((u / t) * 100);
                    if (isNaN(percent) || percent < 0) percent = 0;
                    if (percent > 100) percent = 100;
                } else if (live && t === 0 && u === 0) {
                    percent = 0;
                }
                else {
                    percent = -1;
                }

                if (!this.cache[percent]) {
                    let displayPercentValue = percent;
                    let classObject = { ui: true, progress: true };
                    let styleObject = {
                        'transition-duration': '300ms',
                        'min-width': 'unset',
                        width: (percent >= 0 ? percent : 0) + '% !important',
                    };

                    if (percent < 0) {
                        styleObject['background-color'] = 'slategray';
                        classObject.offline = true;
                        displayPercentValue = 0;
                    } else if (percent < 60) {
                        styleObject['background-color'] = 'rgb(76,175,80)';
                        classObject.fine = true;
                    } else if (percent < 90) {
                        styleObject['background-color'] = '#ff9800';
                        classObject.warning = true;
                    } else {
                        styleObject['background-color'] = '#f44336';
                        classObject.error = true;
                    }
                    this.cache[percent] = {
                        class: classObject,
                        style: styleObject,
                        percent: displayPercentValue,
                    };
                }

                return this.cache[percent] || {
                    class: { ui: true, progress: true, offline: true },
                    style: { width: '0%', 'background-color': 'slategray' },
                    percent: 0
                };
            },
            secondToDate(s) {
                var d = Math.floor(s / 3600 / 24);
                if (d > 0) {
                    return d + " {{tr "Day"}}"
                }
                var h = Math.floor(s / 3600 % 24);
                var m = Math.floor(s / 60 % 60);
                var s = Math.floor(s % 60);
                return h + ":" + ("0" + m).slice(-2) + ":" + ("0" + s).slice(-2);
            },
            timeStamp(t) {
                return new Date(t).format('yyyy年MM月dd日 HH:mm:ss')
            },
            formatByteSize(bs) {
                const x = this.readableBytes(bs)
                return x != "NaN undefined" ? x : '0B'
            },
            readableBytes(bytes) {
                if (!bytes) {
                    return '0B'
                }
                const i = Math.floor(Math.log(bytes) / Math.log(1024));
                const sizes = ["B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];
                return parseFloat((bytes / Math.pow(1024, i)).toFixed(2)) + sizes[i];
            },
            getCoreAndGHz(arr) {
                if ((arr || []).length === 0) {
                    return '';
                }
                let totalCores = 0;
                arr.forEach(str => {
                    let coreMatch = str.match(/(\d+(\.\d+)?) Physical/g);
                    let coreCount = 0;
                    if (coreMatch) {
                        coreCount = parseFloat(coreMatch[0]);
                    } else {
                        let coreMatch = str.match(/(\d+(\.\d+)?) Virtual/g);
                        coreCount = coreMatch ? parseFloat(coreMatch[0]) : 0;
                    }
                    totalCores += coreCount;
                });
                return `${totalCores} Cores`;
            },
            getK2Gb(bs){
                bs = bs / 1024 / 1024 / 1024;
                if (bs >= 1) {
                    return Math.ceil(bs.toFixed(2)) + 'G';
                } else {
                    bs = bs * 1024;
                    return Math.ceil(bs.toFixed(2)) + 'MB';
                }
            },
            listTipsMouseenter(obj, strs, tipsNum = 1){
                this.layerIndex = layer.tips(strs, '#' + obj, { tips: [tipsNum, 'rgb(0 0 0 / 85%)'], time: 0 });
                $('#' + obj).attr('layerIndex', this.layerIndex)
            },
            listTipsMouseleave(obj){
                layer.close(this.layerIndex)
            },
            initializePopups() {
                const triggerSelector = '.server-primary-font.info.circle.icon';

                // 先销毁已存在的弹窗实例
                $(triggerSelector).popup('destroy');

                this.$nextTick(() => {
                    $(triggerSelector).popup({
                        popup: '.ui.content.popup', // 目标弹窗内容
                        on: 'hover',
                        hoverable: true,
                        exclusive: true, // Semantic UI 应处理排他性
                        // position: 'top left', // 可以根据需要调整位置
                        // delay: { show: 200, hide: 400 }, // 可以调整延迟
                        onShow: function() {
                            // 'this' 指向当前正在显示的弹窗的 DOM 元素
                            const $currentPopup = $(this);
                            // 隐藏所有其他当前可见的 .ui.popup 元素
                            $('.ui.popup.visible').not($currentPopup).each(function() {
                                // 直接移除相关类和样式以隐藏，避免触发不必要的 SUI 事件
                                $(this).removeClass('visible transition').addClass('hidden').css('display', 'none');
                            });
                            return true; // 允许显示当前弹窗
                        }
                    });
                });
            },
            generateUniqueTags() {
                const tags = new Set();
                if (this.servers) {
                    this.servers.forEach(server => {
                        if (server.Tag && server.Tag.trim() !== '') {
                            tags.add(server.Tag.trim());
                        }
                    });
                }
                this.uniqueTags = Array.from(tags).sort();
            },
            handleTabClick(tag, event) {
                this.activeTag = tag;
                this.$nextTick(() => {
                    const tabEl = event.currentTarget;
                    const tabsContainer = this.$refs.tabsContainer;
                    if (tabEl && tabsContainer && tabsContainer.contains(tabEl)) {
                        if (tabsContainer.scrollWidth > tabsContainer.clientWidth) {
                            tabEl.scrollIntoView({ behavior: 'smooth', inline: 'center', block: 'nearest' });
                        }
                    }
                });
            },
            updateSliderPosition() {
                const slider = this.$refs.tabSlider;
                if (!slider) return;

                let activeTabElement = null;
                if (this.activeTag === '') {
                    activeTabElement = this.$refs.allTab;
                } else {
                    const reversedTags = this.uniqueTags.slice().reverse();
                    const activeIndexInReversed = reversedTags.indexOf(this.activeTag);
                    if (activeIndexInReversed !== -1 && this.$refs['tagTab' + activeIndexInReversed]) {
                         activeTabElement = this.$refs['tagTab' + activeIndexInReversed];
                         if (Array.isArray(activeTabElement)) {
                            activeTabElement = activeTabElement[0];
                         }
                    }
                }

                if (!activeTabElement && this.$refs.allTab) {
                    activeTabElement = this.$refs.allTab;
                }

                if (activeTabElement && this.$refs.tabsContainer) {
                    const containerRect = this.$refs.tabsContainer.getBoundingClientRect();
                    const tabRect = activeTabElement.getBoundingClientRect();
                    const newLeft = tabRect.left - containerRect.left + this.$refs.tabsContainer.scrollLeft;
                    const newWidth = tabRect.width;
                    slider.style.left = `${newLeft}px`;
                    slider.style.width = `${newWidth}px`;
                } else {
                    slider.style.width = '0px';
                }
            },
            updateServerLiveStatus(wsData) {
                const nowMillisFromWS = wsData ? wsData.now : null;
                const fallbackNowMillis = new Date().getTime();
                const currentTimeMillisToUse = nowMillisFromWS || fallbackNowMillis;

                if (this.servers) {
                    this.servers.forEach(serverItem => {
                        if (!serverItem.Host) {
                            serverItem.live = false;
                        } else {
                            const lastActiveString = serverItem.LastActive;
                            const lastActiveTimestampMs = new Date(lastActiveString).getTime();
                            let calculatedLive = false;
                            if (isNaN(lastActiveTimestampMs)) {
                                calculatedLive = false;
                            } else {
                                const diffMs = currentTimeMillisToUse - lastActiveTimestampMs;
                                if (diffMs <= 15000 && diffMs >= -5000) {
                                    calculatedLive = true;
                                } else {
                                    calculatedLive = false;
                                }
                            }
                            serverItem.live = calculatedLive;
                        }
                    });
                }
            },
            getTrafficProgressClass(serverId) {
                const trafficData = this.getServerTrafficData(serverId);
                if (!trafficData) {
                    return 'ui progress offline';
                }
                const percent = trafficData.percent || 0;
                
                let classObject = { ui: true, progress: true };
                if (percent < 60) {
                    classObject.fine = true;
                } else if (percent < 90) {
                    classObject.warning = true;
                } else {
                    classObject.error = true;
                }
                
                return Object.keys(classObject).join(' ');
            },
            getTrafficProgressStyle(serverId) {
                const trafficData = this.getServerTrafficData(serverId);
                if (!trafficData) {
                    return {
                        'transition-duration': '300ms',
                        'width': '0%'
                    };
                }
                
                const percent = trafficData.percent || 0;
                let bgColor = null;
                
                // 使用与formatPercent方法一致的颜色逻辑
                if (percent < 60) {
                    bgColor = 'rgb(76,175,80)';
                } else if (percent < 90) {
                    bgColor = '#ff9800';
                } else {
                    bgColor = '#f44336';
                }
                
                return {
                    'transition-duration': '300ms',
                    'width': percent + '%',
                    'background-color': bgColor
                };
            },
            getTrafficDisplay(serverId) {
                const trafficData = this.getServerTrafficData(serverId);
                if (!trafficData) {
                    return '无';
                }
                
                // 只显示百分比，与硬盘显示保持一致
                return `${trafficData.percent}%`;
            },
            getTrafficTooltip(serverId) {
                const trafficData = this.getServerTrafficData(serverId);
                if (!trafficData || !trafficData.used || !trafficData.max) {
                    return '无数据';
                }
                
                // 使用与硬盘显示一致的格式，确保单位正确
                return `${trafficData.used} / ${trafficData.max}`;
            },
            updateTrafficData() {
                // Force Vue to recognize the data change
                this.$forceUpdate();
            },
            initTrafficDataWatcher() {
                this.trafficWatcherInterval = setInterval(() => {
                    if (window.serverTrafficData && 
                        Object.keys(window.serverTrafficData).length > 0 && 
                        window.lastTrafficUpdateTime !== this._lastKnownUpdateTime) {
                        
                        // 复制到本地对象以激活Vue的响应式系统
                        this.trafficData = JSON.parse(JSON.stringify(window.serverTrafficData));
                        this._lastKnownUpdateTime = window.lastTrafficUpdateTime;
                        this.$forceUpdate();
                    }
                }, 1000);
            }
        },
        watch: {
            activeTag() {
                this.$nextTick(() => {
                    this.updateSliderPosition();
                });
            },
            filteredServers: {
                handler() {
                    this.$nextTick(() => {
                        this.initializePopups();
                    });
                },
                deep: true
            },
            uniqueTags() {
                this.$nextTick(() => {
                    this.updateSliderPosition();
                });
            },
            servers() {
                this.generateUniqueTags();
                 this.$nextTick(() => {
                    this.updateSliderPosition();
                });
            }
        }
    })

function connect() {
    const wsProtocol = window.location.protocol == "https:" ? "wss" : "ws";
    const wsUrl = wsProtocol + '://' + window.location.host + '/ws';
    const ws = new WebSocket(wsUrl);

    ws.onopen = function () {
    };

    ws.onmessage = function (evt) {
        try {
            const data = JSON.parse(evt.data);
            if (data && Array.isArray(data.servers)) {
                statusCards.servers = data.servers;
                statusCards.updateServerLiveStatus(data);
            }
        } catch (e) {
            console.error("Error processing WebSocket message:", e);
        }
    };

    ws.onclose = function () {
        setTimeout(function () {
            connect();
        }, 3000);
    };

    ws.onerror = function (err) {
        console.error("WebSocket error:", err);
    };
}

    connect();

    $(document).ready(function() {
        $('.ui.accordion').accordion({ "exclusive": false });
    });

    // 添加一个专门的流量格式化函数，确保单位格式一致
    function formatTrafficUnit(trafficStr) {
        if (!trafficStr) return '0B';
        
        // 如果已经是标准格式，直接返回
        if (/^[\d.,]+\s*[KMGTPEZY]B$/i.test(trafficStr)) {
            return trafficStr;
        }
        
        // 处理可能省略B的情况
        const match = trafficStr.match(/^([\d.,]+)\s*([KMGTPEZY])$/i);
        if (match) {
            return `${match[1]}${match[2].toUpperCase()}B`;
        }
        
        // 尝试解析为字节数并重新格式化
        const bytes = parseTrafficToBytes(trafficStr);
        if (bytes > 0) {
            const i = Math.floor(Math.log(bytes) / Math.log(1024));
            const sizes = ["B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];
            return parseFloat((bytes / Math.pow(1024, i)).toFixed(2)) + sizes[i];
        }
        
        return trafficStr; // 如果无法识别，返回原始字符串
    }
</script>
{{end}}