/*
  Icon Font: osi
*/

@font-face {
  font-family: "osi";
  src: url("./osi.eot");
  src: url("./osi.eot?#iefix") format("embedded-opentype"),
       url("./osi.woff2") format("woff2"),
       url("./osi.woff") format("woff"),
       url("./osi.ttf") format("truetype"),
       url("./osi.svg#osi") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "osi";
    src: url("./osi.svg#osi") format("svg");
  }
}

.os {
}



.os-12 { font-size: 12px; }

.os-14 { font-size: 14px; }

.os-16 { font-size: 16px; }

.os-18 { font-size: 18px; }

.os-21 { font-size: 21px; }

.os-24 { font-size: 24px; }

.os-36 { font-size: 36px; }

.os-48 { font-size: 48px; }

.os-60 { font-size: 60px; }

.os-72 { font-size: 72px; }


[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.os-almalinux:before,
.os-alpine:before,
.os-aosc:before,
.os-apple:before,
.os-archlabs:before,
.os-archlinux:before,
.os-artix:before,
.os-budgie:before,
.os-centos:before,
.os-coreos:before,
.os-debian:before,
.os-deepin:before,
.os-devuan:before,
.os-docker:before,
.os-elementary:before,
.os-endeavour:before,
.os-fedora:before,
.os-fedora-inverse:before,
.os-ferris:before,
.os-flathub:before,
.os-freebsd:before,
.os-gentoo:before,
.os-gnu-guix:before,
.os-illumos:before,
.os-kali-linux:before,
.os-linuxmint:before,
.os-linuxmint-inverse:before,
.os-mageia:before,
.os-mandriva:before,
.os-manjaro:before,
.os-nixos:before,
.os-openbsd:before,
.os-opensuse:before,
.os-parrot:before,
.os-pop-os:before,
.os-raspberry-pi:before,
.os-redhat:before,
.os-rocky-linux:before,
.os-sabayon:before,
.os-slackware:before,
.os-slackware-inverse:before,
.os-snappy:before,
.os-solus:before,
.os-tux:before,
.os-ubuntu:before,
.os-ubuntu-inverse:before,
.os-void:before,
.os-win10:before,
.os-zorin:before {
  display: inline-block;
  font-family: "osi";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.os-almalinux:before { content: "\f100"; }
.os-alpine:before { content: "\f101"; }
.os-aosc:before { content: "\f102"; }
.os-apple:before { content: "\f103"; }
.os-archlabs:before { content: "\f104"; }
.os-archlinux:before { content: "\f105"; }
.os-artix:before { content: "\f106"; }
.os-budgie:before { content: "\f107"; }
.os-centos:before { content: "\f108"; }
.os-coreos:before { content: "\f109"; }
.os-debian:before { content: "\f10a"; }
.os-deepin:before { content: "\f10b"; }
.os-devuan:before { content: "\f10c"; }
.os-docker:before { content: "\f10d"; }
.os-elementary:before { content: "\f10e"; }
.os-endeavour:before { content: "\f130"; }
.os-fedora:before { content: "\f10f"; }
.os-fedora-inverse:before { content: "\f110"; }
.os-ferris:before { content: "\f111"; }
.os-flathub:before { content: "\f112"; }
.os-freebsd:before { content: "\f113"; }
.os-gentoo:before { content: "\f114"; }
.os-gnu-guix:before { content: "\f115"; }
.os-illumos:before { content: "\f116"; }
.os-kali-linux:before { content: "\f117"; }
.os-linuxmint:before { content: "\f118"; }
.os-linuxmint-inverse:before { content: "\f119"; }
.os-mageia:before { content: "\f11a"; }
.os-mandriva:before { content: "\f11b"; }
.os-manjaro:before { content: "\f11c"; }
.os-nixos:before { content: "\f11d"; }
.os-openbsd:before { content: "\f11e"; }
.os-opensuse:before { content: "\f11f"; }
.os-parrot:before { content: "\f12f"; }
.os-pop-os:before { content: "\f120"; }
.os-raspberry-pi:before { content: "\f121"; }
.os-redhat:before { content: "\f122"; }
.os-rocky-linux:before { content: "\f123"; }
.os-sabayon:before { content: "\f124"; }
.os-slackware:before { content: "\f125"; }
.os-slackware-inverse:before { content: "\f126"; }
.os-snappy:before { content: "\f127"; }
.os-solus:before { content: "\f128"; }
.os-tux:before { content: "\f129"; }
.os-ubuntu:before { content: "\f12a"; }
.os-ubuntu-inverse:before { content: "\f12b"; }
.os-void:before { content: "\f12c"; }
.os-win10:before { content: "\f12d"; }
.os-zorin:before { content: "\f12e"; }
