{{define "dashboard-default/login"}}
{{template "common/header" .}}
<div class="login nb-container">
    <div class="ui center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <img src="static/logo.svg" class="image">
                <div class="content">
                    {{tr "Use"}} {{.LoginType}} {{tr "AccountToLogin"}}
                </div>
            </h2>
            <a href="/oauth2/login" class="ui server-primary-btn submit button dashboard-login-btn">{{tr "Login"}}</a>
            <div class="ui message login-signup-message">
                {{tr "DontHaveAnAccount"}} <a href="{{.RegistrationLink}}" class="ui server-primary-btn button dashboard-signup-btn" target="_blank" rel="noopener noreferrer">{{tr "SignUp"}}</a>
            </div>
        </div>
    </div>
</div>
{{template "common/footer" .}}
{{end}}