{{define "common/menu"}}
<div class="ui large top fixed menu nb-menu">
    <div class="ui container">
        <div class="item">
            <a class="logo{{if eq .MatchedPath " /"}} active{{end}}" href="/"><img src="static/logo.png" style="display: inline-block; vertical-align: middle; margin: -.3em 0; width: 2.5em;"></a>
        </div>
        {{if .IsAdminPage}}
        <a class='item{{if eq .MatchedPath "/server"}} active{{end}}' href="/server"><i class="server icon"></i>资产</a>
        <a class='item{{if eq .MatchedPath "/notification"}} active{{end}}' href="/notification"><i class="bell icon"></i>报警</a>
        <a class='item{{if eq .MatchedPath "/setting"}} active{{end}}' href="/setting">
            <i class="setting icon"></i>设置
        </a>
        {{else}}
        <a class="item" href="http://status.qste.com/" target="_blank"><i class=" rss icon"></i>状态</a>
        {{end}}
        <div class="right menu">
            <div class="item">
                {{if .Admin}}
                <div class="ui simple dropdown">
                    <div class="text">
                        <img class="ui avatar image" src="{{.Admin.AvatarURL}}"> {{.Admin.Name}}
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {{if .IsAdminPage}}
                        <a class="item" href="/">
                            <i class="chart area icon"></i>返回前台
                        </a>
                        {{else}}
                        <a class="item" href="/server">
                            <i class="terminal icon"></i>管理后台
                        </a>
                        {{end}}
                        <button class="item" onclick="showConfirm('确认注销？','注销后您必须重新登录才能使用',logout,{{.Admin.ID}})">
                            <i class="logout icon"></i>注销登录
                        </button>
                    </div>
                </div>
                {{else}}
                <a href="/login" class="ui large positive probe-primary-btn button"><i class="sign-in icon"></i>登录</a>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{template "component/confirm" .}}
{{end}}